$shadow-rgb-1: rgba(85, 85, 85, 0.08);
$shadow-rgb-2: rgba(85, 85, 85, 0.06);
$shadow-rgb-3: rgba(85, 85, 85, 0.03);

$menu-shadow: 0 5px 30px -3px$shadow-rgb-1, 0 8px 30px 1px $shadow-rgb-2,
0 3px 30px 2px$shadow-rgb-3;

$card-shadow: 0 3px 10px -2px$shadow-rgb-1, 0 2px 20px 0 $shadow-rgb-2,
0 1px 30px 0$shadow-rgb-3;

$toolbar-shadow: 0 2px 30px -1px$shadow-rgb-1, 0 4px 30px 0 $shadow-rgb-2,
0 1px 30px 0$shadow-rgb-3;

$elevation-1-shadow: 0 2px 10px -1px$shadow-rgb-1, 0 1px 10px 0 $shadow-rgb-2,
0 1px 30px 0$shadow-rgb-3;

.v-application .elevation-1 {
  box-shadow: $elevation-1-shadow !important;
}


.v-menu__content {
  box-shadow: $menu-shadow !important;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: $card-shadow !important;
}

.v-sheet.v-toolbar:not(.v-sheet--outlined) {
  box-shadow: $toolbar-shadow !important;
}

.v-btn--contained {
  box-shadow: $card-shadow !important;
}